body{
    background-image: url('https://img.freepik.com/premium-photo/stars-galaxy-outer-space-sky-night-universe-black-starry-background-shiny-starfield_146539-416.jpg'); 
}
@font-face {
    font-family: viking;
    src: url('./resources/fontStyles/PR\ Viking.ttf');
}
@font-face {
    font-family: Wellsley;
    src: url('./resources/fontStyles/WELLSLEY.TTF');

}

@font-face {
    font-family: space;
    src: url('resources/fontStyles/SpaceMission-rgyw9.otf');
}
div.hud{
    background-image: url(./resources/images/name-hud.png);
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
h1{
    font-family: 'space';
    
    margin-left: 50px;
    padding: 20px;
    text-decoration: underline;
    text-align: left;
    border-radius: 5rem;
    color: cornflowerblue;
    font-size: 60px;
}
h2{
    margin-left: auto;
    text-align: center;
    
    margin-bottom: 50px;
    color: blanchedalmond;
    font-size: 12px;
}
div#background{ 
  
  height :500px;
  width: 1500px;
  margin: 50px;
margin-block-start: -200px;
  background-color: transparent;
    border-left: 0, solid transparent;
    background-image: linear-gradient(101deg, black, gold, black, gray, transparent);
    padding: 20px; 
    box-sizing: border-box;
}
  


.buttonBackground {
    background-color:transparent;
    padding: 0;
    height: 140px;
    margin-block-start: auto;
    width: 310px;
}


div.headButton{
        margin-right: 80%;
        font-family: 'viking';
        
        border-radius: 5rem;
        padding: 1rem 1rem;
        border-style: black;
        border: solid 7px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-origin: border-box;
        width: 20%;
        height: 90px;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #ff48fc inset;
        #diceImg {
            content: url("../resources/images/border_dice_img.png");
            padding-block-start:10px;
            display:inline-block;
        }
       
        overflow:hidden;
        white-space:nowrap;
        display:inline-block;
            
        width:25%;
        }

      
    
      div#aboutBackground:hover .headButton{
        box-shadow: none;
        color: blanchedalmond;
        border: solid 7px transparent;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
   
        width:100%;
        
        #diceImg {
            content: url("../resources/images/fill_dice_img.png");
        }
      }


div#aboutBackground a{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color:transparent;
    padding: 10px;
    position: relative;
    top: -20px;
    

    
    }  


