@font-face {
    font-family: viking;
    src: url('./resources/fontStyles/PR\ Viking.ttf');
}
@font-face {
    font-family: Wellsley;
    src: url('./resources/fontStyles/WELLSLEY.TTF');

}

@font-face {
    font-family: space;
    src: url('resources/fontStyles/SpaceMission-rgyw9.otf');
}
/*home format*/
body{
    background-image: url(./resources/images/console-screen.svg);
    height: 100%;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-repeat: no-repeat;
}
h1#start {
    font-family: 'space';
    position: absolute;
    top: 50%;
     width: 100%;
    text-align: center;
  
    -webkit-text-fill-color: whitesmoke; 
    -webkit-text-stroke-width: 0.1px;
    -webkit-text-stroke-color: cornflowerblue;
    font-size: 40px;
}
h1#start:hover{
    font-size:60px;
    transition: all 500ms;
    font-size-adjust: 40px;
}
img#target-border{
    display: block;
    margin-block-start:-48%;
    margin-left: 36%;
    margin-right: auto;
    
    position:absolute;
    size-adjust: 50%;
   
}

body#home {
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url(./resources/images/home-screen.svg);
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    
}



h2{
    margin-left: auto;
    text-align: center;
    
    margin-bottom: 50px;
    color: blanchedalmond;
    font-size: 12px;
}
footer.home div{ 
    position: fixed;
    background-color: rgb(68, 87, 146);
    bottom:0px;
    left: 0%;
}


  

/*

.buttonBackground {
    background-color:transparent;
    padding: 0;
    height: 140px;
    margin-block-start: auto;
    width: 310px;
}


div.headButton{
        margin-right: 80%;
        font-family: 'viking';
        
        border-radius: 5rem;
        padding: 1rem 1rem;
        border-style: black;
        border: solid 7px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-origin: border-box;
        width: 20%;
        height: 90px;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px #ff48fc inset;
        #diceImg {
            content: url("../resources/images/border_dice_img.png");
            padding-block-start:10px;
            display:inline-block;
        }
       
        overflow:hidden;
        white-space:nowrap;
        display:inline-block;
            
        width:25%;
        }

      
    
      div#aboutBackground:hover .headButton{
        box-shadow: none;
        color: blanchedalmond;
        border: solid 7px transparent;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
   
        width:100%;
        
        #diceImg {
            content: url("../resources/images/fill_dice_img.png");
        }
      }


div#aboutBackground a{
    font-size: 3rem;
    text-decoration: underline;
    text-decoration-color:transparent;
    padding: 10px;
    position: relative;
    top: -20px;
    

    
    }  
*/

