body{
     overflow-y: scroll;
    background:  url(https://wallpaperset.com/w/full/e/6/a/234929.jpg) 
}
@font-face {
    font-family: viking;
    src: url("../resources/fontStyles/PR\ Viking.ttf");
}
h1{
    margin-left: auto;
    text-decoration: underline;
    text-align: center;
   
    color: blanchedalmond;
    font-size: 60px;
}
h2{
    margin-left: auto;
    text-align: center;
    
    margin-bottom: 50px;
    color: blanchedalmond;
    font-size: 12px;
}
div#background{ 
    background: rgba(255,255,255,.85);
  background-origin: border-box;
  height :5000px;
  width: fit-content;
  margin-left: 25%;
  position: fixed;
  margin-block-start: -100px;
  
  border: solid 14px transparent;
  background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);

}
  


.buttonBackground {
    background-color:transparent;
    padding: 0;
    height: 140px;
    margin-block-start: auto;
    width: 310px;
}


div.headButton{
        margin-right: 80%;
        font-family: 'viking';
        
        border-radius: 5rem;
        padding: 1rem 1rem;
        border-style: black;
        border: solid 14px transparent;
        background-image: linear-gradient(rgba(255, 255, 255, 0), rgba(255, 255, 255, 0)), linear-gradient(101deg, #78e4ff, #ff48fa);
        background-origin: border-box;
        width: 20%;
        height: 90px;
        background-clip: content-box, border-box;
        box-shadow: 2px 1000px 1px blanchedalmond inset;
        #diceImg {
            content: url("../resources/images/border_dice_img.png");
            padding-block-start:10px;
            display:inline-block;
        }
       
        overflow:hidden;
        white-space:nowrap;
        display:inline-block;
            
        width:25%;
        }

      
    
      div#aboutBackground:hover .headButton{
        box-shadow: none;
        color: blanchedalmond;
        border: solid 14px transparent;
        -webkit-transition: width 1s ease-in-out;
        -moz-transition: width 1s ease-in-out;
        -o-transition: width 1s ease-in-out;
        transition: width 1s ease-in-out;
   
        width:100%;
        
        #diceImg {
            content: url("../resources/images/fill_dice_img.png");
        }
      }


div.headButton a{
    font-size: 5rem;
    padding-block-start: 10px;
    text-align: center;
    padding: 5px;
    
    }  


